rm '.idea/compiler.xml'
rm '.idea/copyright/profiles_settings.xml'
rm '.idea/gradle.xml'
rm '.idea/libraries/animated_vector_drawable_23_3_0.xml'
rm '.idea/libraries/appcompat_v7_23_3_0.xml'
rm '.idea/libraries/design_23_3_0.xml'
rm '.idea/libraries/hamcrest_core_1_3.xml'
rm '.idea/libraries/junit_4_12.xml'
rm '.idea/libraries/recyclerview_v7_23_3_0.xml'
rm '.idea/libraries/support_annotations_23_3_0.xml'
rm '.idea/libraries/support_v4_23_3_0.xml'
rm '.idea/libraries/support_vector_drawable_23_3_0.xml'
rm '.idea/misc.xml'
rm '.idea/modules.xml'
rm '.idea/runConfigurations.xml'
rm '.idea/workspace.xml'
